.container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}
.main-container {
    min-height: 100vh;
}
.contact-head-container {
    position:relative;
    padding-top: 250px;
    margin-bottom: 142px;
}
.contact-title {
    width: 681px;
    height: 116px;
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 90%;
    color: #202C54;
}
.contact-subtitle {
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #1E3A5F;
}
.contact-form {
    position: absolute;
    top: 188px;
    right: 0;
    width: 480px;
    height: 870px;
    background: #FFFFFF;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.02), 0 14px 60px rgba(8, 28, 35, 0.05);
    border-radius: 30px;
}
.contact-form form{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    align-items: center;
}
.form-group {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.form-group label {
    width: 158px;
    height: 12px;
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 100%;
    text-transform: uppercase;
    color: #80989F;
    margin-bottom: 19px;
}
.form-group input {
    width: 360px;
    padding: 23px 22px;
    background: #FFFFFF;
    box-shadow: 0 0 0 10px #E7F1F4;
    border-radius: 5px;
    border:none;
    margin-bottom: 29px;
    outline: none;
    font-family: Manrope;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: #1E3A5F;
}
.form-group textarea {
    width: 360px;
    height: 60px;
    padding: 21px 26px;
    outline: none;
    background: #FFFFFF;
    box-shadow: 0 0 0 10px #E7F1F4;
    border-radius: 5px;
    border:none;
    font-family: Manrope;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: #1E3A5F;
}
.contact-form-submit {
    width: 430px;
    height: 80px;
    background: #2D659A;
    border-radius: 10px;
    font-weight: 600;
    border: none;
    font-family: Manrope;
    font-style: normal;
    outline: none;
    color: white;
    margin-bottom: 10px;
}
.contact-foot-container {
    background: #F3F9FB;
    padding: 120px 0;
}
.contact-foot-wrapper {
    min-height: 344px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.subtitle {
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 100%;
    color: #1E3A5F;
}
.contact-form-wrapper {
    max-height: 800px;
}
.contact-data-content {
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 100%;
    color: #1E3A5F;
}
.contact-data-wrap {
    display: flex;
    flex-direction: column;
}
.contact-foot-location {
    display: flex;
    align-items: flex-end;
}
.google-map-button a{
    width: 180px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 100%;
    color: #2D659A;
    margin-left: 26px;
}
.contact-description {
    width: 656px;
    height: 46px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    color: #1E3A5F;
}
.contact-description a{
    text-decoration: none;
    color: #2D659A;
}
.ml-4 {
    margin-left: 91px;
}
